* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
/* header section */
nav {
    display: flex;    
    justify-content: space-around;
    background-color: #1F2937;  
    padding: 0 50px;
    color: #F9FAF8;
}
nav h2 {
   font-size: 24px;
   margin: 0 auto;
}
nav div {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

button {
    font-size: 20px;
    height: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #3882F6;
    border-radius: 6px;
    background-color: #3882F6;
    cursor: pointer;
}
button:hover {
    border: 1px solid #3882F6;
    border-radius: 6px;
    color:#3882F6;
    background-color:rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
/* second section of header */
.section-father {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0 auto;
    padding: 30px;
}
.section1 {
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding-top: 60px;
    padding-left: 65px;
    
}
.section1 h1 {
    font-size:42px;
    font-weight: bolder;
    color: #F9FAF8;
}
.section1 p {
    font-size: 18px;
    color: #E5E7EB;
}
img {
    width: 50%;
    height: 40%;
}
.button1 {
    width: 100px;
}
/* informations section */
.items {
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    padding: 100px 0;
    gap: 10px;
}

.box-info {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}
.box-info:hover {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1); 
}
.box h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.box p {
    text-align: center;
    color: #1F2937;
    margin: 20px 0;
}
